* {
  margin: 0;
  padding: 0;
}
.box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: #434ccc;
  color: white;
  padding: 16px;
  position: fixed;
  z-index: 1000;
}

.logo {
  font-size: 40px;
  margin-left: 138px;
}

.container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 135px;
}

.titles > a {
  text-decoration: none;
  padding-right: 50px;
  color: white;
  font-family: dm sans;
}
.titles > a:hover {
  font-size: 18px;
  transition: font-size 0.1s ease-in;
}

.navbutton > button {
  color: white;
  background: transparent;
  padding: 11px 56.5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.navbutton > button:hover {
  color: black;
  background: white;
  transition: color 0.3s ease-in;
}

.about {
  width: 100%;
  height: 254px;
  background: #434ccc;
}

.text {
  text-align: center;
  padding: 70px;
}

.text > h1 {
  margin-top: 30px;
  color: var(--Text_White, #fff);
  text-align: center;

  font-family: DM Serif Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
}
.text > p {
  color: var(--Text_White, #fff);
  text-align: center;

  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.container-2 {
  width: 100%;
  height: 768px;
  display: flex;
}

.container-text {
  margin-left: 135px;
  margin-top: 127px;
}

.container-2 div > h5 {
  color: var(--Text_Black, #000);
  /* H5 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

.container-2 div > h2 {
  color: #000;
  /* H2 */
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  width: 411px;
  padding-top: 20px;
}

.container-2 div > p {
  color: var(--Text_Black, #000);
  /* Text_Big */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 570px;
  padding-top: 20px;
}

.container-2 div > h3 {
  padding-top: 30px;
  color: var(--Text_Black, #000);
  /* H3 */
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  width: 86px;
  height: 48px;
}

.container-2 div > .black {
  color: var(--Text_Black, #000);
  /* Text */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  width: 178px;
  height: 24px;
}

.container-2 div > .grey {
  color: rgba(0, 0, 0, 0.5);

  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  height: 49px;
  width: 250px;
}

.container-2 > img {
  width: 814px;
  height: 718px;
}
.container-3 {
  width: 100%;
  height: 768px;
}

.container-3-text {
  text-align: center;
}

.container-3-text > h2 {
  color: var(--Text_Black, #000);
  text-align: center;
  /* H2 */
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  padding-top: 20px;
}
.container-3-text > div {
  color: var(--Text_Black, #000);
  text-align: center;
  padding-top: 29px;
  /* Text_Big */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  line-height: 32px;
  flex-shrink: 0;
}

.container-3-text > div > p {
  height: 83px;
  width: 570px;
}

.card-container {
  display: flex;
  justify-content: center;
  padding-top: 36px;
  gap: 20px;
}

.card1 {
  width: 370px;
  height: 416px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  transition:  0.2s ease-in-out;
}

.card1:hover{
  transform: scale(0.9);
  opacity:0.8 ;
}

.card-svg {
  text-align: center;
  padding-top: 64px;
}
svg {
  height: 96px;
}

.card-text {
  padding-top: 54px;
  padding-left: 30px;
}

.card-text > h4 {
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: DM Serif Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.card-text > h5 {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  padding-top: 15px;
  /* Text_Gray */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 306px;
  height: 48px;
  flex-shrink: 0;
}

.line {
  width: 338px;
  height: 1px;
  background: #000;
  opacity: 0.1011;
  /* margin-left: 32px; */
  margin-top: 25px;
}

.card-learn {
  display: flex;
}

.card-learn > h4 {
  padding-top: 18px;
  /* padding-left: 32px; */
  color: var(--Text_Black, #000);
  /* Text */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.card-learn > svg {
  margin-top: -16px;
  padding-left: 5px;
}



body{
  margin: 0%;
  padding: 0%;
}
.box-saurav{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}


.image-box img{
  object-fit: cover;
  width: 800px;
  height: 653px;
}
.image-box img {
  transition: transform 0.3s ease-in-out;
}

.image-box:hover img {
  transform: scale(1.2); 
}
.box-content1{
  width: 127px;
  height: 24px;
  top: 3000px;
  left: 735px;
  margin-top: 98px;

}
.box-content1 h5{
  color: var(--Text_Black, #000);
  font-family: 'DM Sans', sans-serif;
  /* font-family: DM Serif ; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  letter-spacing: 4.8px;
  text-transform: uppercase;
  
}

.content-2{
  width: 478px;
  height: 64px;
  top: 2012px;
  left: 735px;
}

.content-2 h2{
  color: var(--Text_Black, #000);
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: bold;
  line-height: 64px; 
  margin-top: 20px;
}

.content-3{
  width: 570px;
  height: 69px;
  flex-shrink: 0;
  margin-top: 29px;
}

.content-3 big{
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; 
}

.icon-1-div,.icon-2-div,.icon-3-div{
  display: flex;
  margin-top: 23px;
}
.icon-1-div span,.icon-2-div span,.icon-3-div span{
  color: var(--text-black-50, rgba(0, 0, 0, 0.50));
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  width: 216px;
  height: 28px;
  margin-left: 23px;
  margin-top: 5px;
}
.icon-1 img{
  width: 35px;
  height: 33px;
}
.icon-2-div span{
  margin-left: 17px;
}
.btn-srv{
  display: flex;
}
.btn-1-srv{
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--Primary_1, #434CCC);
  margin-top: 57px;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.btn-2-srv{
  width: 170px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid;
  margin-top: 57px;
  margin-left: 30px;
  color: #434CCC;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  background-color: #FFF;
}
.btn-2-srv:hover{
  background-color: blueviolet;
  opacity: 80%;
  color: azure;
}
.btn-1-srv:hover{
  background-color:  #434CCC;
  color: azure;
  opacity: 95%;
  /* border-radius: 1px solid; */
  
}
.grid-item>img{
  transition: transform 0.3s ease-in-out;
}
.grid-item>img:hover{
  transform: scale(1.5); 
}
.icon-1,.icon-2,.icon-3 {
  transition: transform 0.3s ease-in-out;
}

.icon-1:hover {
  transform: scale(1.5); 
}
.icon-2:hover {
  transform: scale(1.5); 
}
.icon-3:hover {
  transform: scale(1.5); 
}
.container-main{
  width: 100%;
  height: 480px;
  flex-shrink: 0;
  background: #434CCC;
 
}
.h{
  color: var(--Text_White, #FFF);
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; 
  padding-top: 56px;

}
.container-main{
  text-align: center;
}
.split-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.split-text div {
  white-space: wrap;
}

.centered-line {
  display: inline-block;
  vertical-align: middle;
  color: var(--Text_White, #FFF);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; 
}
.container-foot{
  width: 100%;
  height: 480px;
  /* border: 1px solid; */
  display: flex;
  justify-content: space-evenly;
 margin-top: 35px;
}
.div1 h1{
  color: var(--Text_White, #FFF);
  text-align: center;
  font-family: DM Serif Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; 
}
.div1 span{
  color: var(--text-white-50, rgba(255, 255, 255, 0.50));
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}
.rectangle{
  width: 100%;
  height: 768px;
  flex-shrink: 0;
  /* border: 1px solid; */
  display: flex;
  flex-wrap: wrap;
}
.child-1{
  width: 40%;
  /* border: 1px solid; */
  
}
.child-2{
  width: 60%;
  /* border: 1px solid; */
}
.child-1 h5{
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-left: 135px;
  margin-top: 111px;
}
.child-1 h2{
  color: var(--Text_Black, #000);
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
  margin-left: 122px;
  margin-bottom: 25px;
}
.child-1 div{
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-left: 122px;
  width: 331px;
}
.btn-3{
  width: 170px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid;
  margin-top: 33px;
  color: #434CCC;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  background-color: #FFF;
  margin-left: 122px;
}
.btn-3:hover{
  background-color: rgb(255, 196, 0);
  color: #000;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 400px); 
  grid-template-rows: repeat(3, 100px); 
  /* border: 1px solid; */
  row-gap: 90px;
  column-gap: 40px;
  
}
.grid-item{
  display: flex;
  width: 300px;
  margin-top: 176px;
 height: fit-content;
}
.grid-item>img{
  width: 52px;
  height: 45px;
  flex-shrink: 0;
  margin-top: 20px;
  object-fit: contain;
 
}

.grid-item>div>h4{
  margin-left: 30px;
  margin-bottom: 7px;
}
.grid-item>div>div{
  width: 270px;
  height: 80px;
  flex-shrink: 0;
  margin-left: 30px;
  color: var(--text-black-50, rgba(0, 0, 0, 0.50));
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  
}











/* Sourav Anand */

/* Nuralam Dewan */

.bit{
  width:  100%;
  height: 768px; 
 
  
  display: flex;
}
.bit-img{
  width: 689px;
  height: 500px;
  
  margin-top: 135px;
  margin-bottom: 133px; 
 
}
.bit-imgbox{
  width: 560px;
  height: 550px;
  /* border: 2px solid ; */
  object-fit: cover;
  margin-left:135px ;
  border-radius: 10px;
}
.bit-imgbox>img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  
  
  

}
.bit-text{
  width: 650px;
  height: 500px;
 
  margin-top: 135px;
  margin-bottom: 133px; 

}
.bit-text>div{
  
  max-height: 24px;
  /* background-color: yellow; */
  position: relative;
  top: 70px;
  margin-left: 100px;
}

.bit-text>div>h5{
color: var(--Text_Black, #000);

/* H5 */
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 4.8px;
text-transform: uppercase;
  padding-left: 100px;
  /* margin-bottom: 21px; */
  
 
}
.anmel{
  width: 511px;
  margin-top: 21px;
 
}
.anmel>h2{
color: var(--Text_Black, #000);

/* H2 */
font-family: DM Serif Display;
font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: 64px; /* 114.286% */
  padding-left: 100px;
 
 
}
.vix{
width: 470px;
margin-top: 21px;
}

.vix>p{
color: var(--Text_Black, #000);

/* Text_Big */
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
  padding-left: 100px;
  position: relative;
  top: 40px;
 
}
.btn{
  padding-left: 100px;
  margin-top: 50px;
}
.btn>button{
  margin-top: 118px;
  width: 170px;
  height: 48px;
  background-color: #434CCC;
  border-radius: 5px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: DM sans;
  font-size: 16px;
  font-style: normal;
  /* line-height: 24px;  */
  cursor: pointer;
  border-color:#434CCC ;
  
 
 
}
.btn> button:hover{
  background-color: purple;
  opacity: 70%;;
  color:azure;
  border-color:purple;
}
.assests{
  max-width: 100%;
  height: 768px; 
 
  
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.assests-text{
  width: 700px;
  /* border: 5px solid;; */
}
.nolu{
  max-height: 24px;
  margin-left: 135px;;
  margin-top: 143px;
}
.nolu>h5{
color: var(--Text_Black, #000);
/* H5 */
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 4.8px;
text-transform: uppercase;

}
.usu{
  width: 392px;
  margin-left: 135px;;
 margin-top:35px ;
}
.usu>h2{
color: var(--Text_Black, #000);

/* H2 */
font-family: DM Serif Display;
font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: 64px; /* 114.286% */
}
.percent{
width:490px;
height: 250px;

margin-left: 135px;
margin-top: 35px;
}
.nuralam-foot>big{
  color: var(--Text_Black, #000);

  /* Text_Big */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.nfootdiv1{
  background-color:#b8b8b8;
  width: 450px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  margin-top: 5px;
}
.nfootdiv11{
  width: 382px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 5px;
background: #F1B505;

}
.nfootdiv2{
  background-color:#b8b8b8;
  width: 450px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  margin-top: 5px;
}
.nfootdiv12{
  width: 318px;
height: 10px;
flex-shrink: 0;
border-radius: 5px;
background: #E94A47;

}
.nfootdiv3{
  background-color:#b8b8b8;
  width: 450px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  margin-top: 5px;
}
.nfootdiv13{
  width: 182px;
height: 10px;
flex-shrink: 0;
border-radius: 5px;
background: #428DFC;
}
.part1{
  display: flex;
  justify-content:space-between;
}
.part1>h4{
  margin-right: 40px;
  font-family: DM Sans;
}









.assests-img{
  width: 700px;
 
  box-sizing: content-box;
  
}
.clip{
      width: 700px;
      height:700px;
     
      content: fill;
     
    margin-top: 20px;
    
}
.clip>img{
  width: 895px;
    height: 700px;
    margin-left: -20%;
    display: block;
 
}


/* Nuralam Dewan */
/* Amrit */
body{
  margin: 0%;
  padding: 0%;
}
.parent{
  background-color: #FFDD78;
  color: black;
  height: 400px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 80px;
  
}

  #child {
    display: grid;
    gap: 30px;
    justify-content: center;

    h5 {
      font-family: DM Sans;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 5px;
    }

    h2 {
      font-weight: 400;
      font-family: DM Serif Display;
      font-size: 56px;
    }
  }
  #child2{
    display: flex;
    gap: 30px;
    align-items: center;

input {
  height: 48px;
  width: 370px;
  border: none;
  outline: none;
  border-radius: 5;

  &::placeholder {
    font-size: 20px;
    padding-left: 10px;
  }
}

.sub-button {
  background-color: #434ccc;
  color: white;
  width: 170px;
  height: 48px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    background-color: #0f1de5;
  }
}
}
footer{
background:white;
display: flex;
justify-content: center;
width: 100%; 
} 
.containers{
/* max-width:1170px; */
width: 100%;
border:1px dashed;
background-color: gold;
opacity: 1;
z-index:1;
flex-grow: 1;
margin-top: 80px;
display: flex;
}
.footer-col{
flex-grow: 1;
}

.logo-social{
flex-basis: 33.32%;
}
.causae{
flex-basis: 16.66%;
}
.aperiri{
flex-basis: 16.66%;
}
.latest-posts{
flex-basis: 33.32%;
}
h4,p,h5{
margin: 0;
padding: 0;
}

footer{
width: 100%;
height: auto;
background-color: rgb(245,246,252);
/* padding: 0px 135px ; */
/* margin: auto; */

&>.footer-container {
  padding-top: 79px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  &>div{
      flex-grow: 1;
  }
}
li:hover{
  color: #000;
  transition: 0.3s;
}
}

#logos{
flex-basis: 33.32%;
display: flex;
flex-direction: column;

h4{
  margin-top: -7px;
  margin-bottom: 23px;
  color: #000;
  font-family: "DM Serif Display";
  font-size: 24px;
  font-weight: bolder;
  line-height: 32px; 

  &+ div{
      width: 270px;
      height: 79px;
      flex-shrink: 0;
      margin-bottom: 16px;
      font-family: "DM Sans";
      color: rgba(0, 0, 0, 0.5);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;   
  }
}

#socials{
  display: flex;
  flex-shrink: 0;
  gap:13px;
  &>img:nth-child(1){
      width: 9px;
      height: 18px;
      flex-shrink: 0;
      margin-right: 13px;
  }
  &>img:nth-child(2){
      width: 18px;
      height: 15px;
      flex-shrink: 0;
      margin-right: 10px;
  }
  &>img:nth-child(3){
      width: 18px;
      height: 18px;
      flex-shrink: 0;
  }
}
img:hover{
  color: #000;
}
}

#causae{
flex-basis: 16.66%;
}

#aperiri{
flex-basis: 16.66%;
}
.foot-h4{
font-family: "DM Sans";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; 
margin-bottom: 24px;
}

.foot-ul{
padding: 0;
margin: 0;

&>li{
  list-style: none;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.50);
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
}
#latestPosts{
flex-basis: 33.32%;
display: flex;
flex-direction: column;
gap:39px;
}
.footer-post{
display: flex;
gap: 30px;   
}

.post-description{
div{
  color: rgba(0, 0, 0, 0.50);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; 
}
p{
  color: #000;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; 
}
}

.footer-img{
width: 71px;
height: 48px;
flex-shrink: 0;
border-radius: 6px;
}

#footer-line{
height:81px;
width: 1440px;
border-top: 1px solid rgba(0, 0, 0, 0.5);
background-color: rgb(245,246,252);
padding: 0 135px;
margin: auto;

&>.footer-line-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 27px ;
  justify-content: space-between;

  .p1 , .p2{
      color: rgba(0, 0, 0, 0.50);
      font-family: "DM Sans";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
  }
} 
}
